<!DOCTYPE html>
<html lang="es">
<head>
    <title>Registro</title>
    <%- include('./templates/head.ejs') %>
</head>
<body>
    <%- include('./templates/header-nav.ejs') %>
    <main class="centrado sombras">
        <div>
            <% if (error) { %>
                <div class="alert alert-danger"><%= error %></div>
            <% } %>
            <form action="/registro" method="post" class="formulario">
                <fieldset>
                    <legend class="centrado">Registrarse</legend>
                    <div class="">
                        <div class="campos">
                            <label for="usuario">Usuario:</label>
                            <input 
                                type="text" 
                                name="usuario" 
                                id="usuario" 
                                placeholder="Ingresa tu usuario" 
                                required 
                                minlength="3" 
                                maxlength="45" 
                                autocomplete="username"
                                class="input">
                        </div>
                        <div class="campos">
                            <label for="password">Contrase単a:</label>
                            <input 
                                type="password" 
                                name="password" 
                                id="password" 
                                placeholder="Ingresa tu contrase単a" 
                                required 
                                minlength="6" 
                                autocomplete="new-password"
                                class="input">
                        </div>
                        <div class="campos">
                            <label for="confirmarPassword">Confirmar Contrase単a:</label>
                            <input 
                                type="password" 
                                name="confirmarPassword" 
                                id="confirmarPassword" 
                                placeholder="Confirmar contrase単a" 
                                required 
                                minlength="6" 
                                autocomplete="new-password"
                                class="input">
                        </div>
                    </div>
                    <% if (typeof mensaje !== 'undefined') { %>
                        <p class="centrado <%= tipo %>"><%= mensaje %></p>
                    <% } %>
                    <div class="campos flex alinear-derecha">
                        <input class="boton" type="submit" value="Registrarme">
                    </div>
                </fieldset>
            </form>
        </div>
    </main>
    <%- include('./templates/footer.ejs') %>
</body>
</html>
